.header-in{
    /*background-color: rgba(0, 0, 0, 0.4);*/
    padding: 120px 0px 0px 0px;
}

.navbar-fond{
    background-color: rgba(10, 20, 10, 0.7);
}

.feuille{
    box-shadow: 0px 0px 10px 10px rgb(201, 154, 61);
    margin: auto;
    width: 50.6vh;
    min-width: 500px;
    text-align: center;
}

.feuille>img{
    width: 100%;
    margin: none;
}


/* bas de page*/
.footer-in{
    margin: auto;
    padding: 8px;
    max-width: fit-content;
    border: 2px solid;
    background-color: rgba(0, 0, 0, 0.4);
    border-color: black;
    border-radius: 20px;
}

.footer-in a img{
    width: 30px;
    height: auto;
}

@media screen and (max-width: 666px) {
    .feuille{
        width: 80vw;
    }
    .feuille h1{
        font-size: 1.2em;
    }
    .feuille p{
        font-size: 0.8em;
    }
}